@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SkillID)
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yetenek Düzenleme  Sayfası</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.Label("Yetenek Başlığı")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Değer")
                        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}
