@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    @Html.HiddenFor(x => x.AboutID)
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hakkımda Düzenleme  Sayfası</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.Label("Başlık")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">

                        @Html.Label("Yaş")
                        @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Mail Adresi")
                        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Telefon")
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Adres")
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Resim")
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Açıklama")
                        @Html.TextAreaFor(x => x.Description, 10, 2, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}
</div>


